<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<nav>
	<ul class="nav-ul">
		<li class="nav-li">
			<a class="nav-a" href="/">Home</a>
			<a class="nav-a" href="/choice">Moods</a>
		  <% if logged_in? %>
			  <a class="nav-a" href="/favorites">Favourites</a>
			<% end %>
		</li>
	</ul>
</nav>
	<% if logged_in? %>
	  logged in as <%= current_user.email %>
	  <form action="session" method="post">
	  	<input type="hidden" name="_method" value="delete">
			<button>log out</button>
		</form>
	<% end %>

	<%= yield %>
	<script src="/main.js">

	</script>
</body>
</html>