<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<nav>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/choice">Moods</a>
		</li>
		<li>
		  <% if logged_in? %>
			  <a href="/favorites">Favorites</a>
			<% end %>
		</li>
	</ul>
</nav>d
	<% if logged_in? %>
	  logged in as <%= current_user.email %>
	  <form action="session" method="post">
	  	<input type="hidden" name="_method" value="delete">
			<button>log out</button>
		</form>
	<% end %>

	<%= yield %>
</body>
</html>