
<div class="login-container">
	<h1>Login</h1>
	<%= @message %>
	<form action="/session" method="post">
	<div class="label-main">

				<label class="email" for="">Email:</label>
			<div class="label-container">
				<input name="email" type="text">
			</div>

				<label class="password" for="">Password:</label>
			<div class="label-container">
				<input type="password" name="password">
			</div>

		</div>

		<div class="login-button"> <button>login</button> </div>
	</form>
	<div>
		<a href="/create"> Click to create a new user</a>
	</div>
</div>